@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Black.woff2') format('woff2'),
    url('./Montserrat-Black.woff') format('woff'),
    url('./Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-BlackItalic.woff2') format('woff2'),
    url('./Montserrat-BlackItalic.woff') format('woff'),
    url('./Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
